<h1>Editing date input</h1>

<%= render "form", date_input: @date_input %>

<br>

<div>
  <%= link_to "Show this date input", @date_input %> |
  <%= link_to "Back to date inputs", date_inputs_path %>
</div>
